
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2 style="width: 50%; margin: 0 auto;">Contact Us</h2>

<link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />

<div class="content-form">
    
    <form style="width: 50%; margin: 0 auto; background-color: #f2f2f2; padding: 20px; border: 1px solid #ccc; border-radius: 5px;" method="post">
        <input style="display:none" name="ID" value="ID" />
        <input type="text" placeholder="Name" name="Name" required />
        <input type="text" placeholder="Email" name="Email" required />
        <input type="text" placeholder="Topic" name="Topic" required />
        <textarea placeholder="Message" name="Message"></textarea>
        <input type="submit" value="SEND" />
    </form>
</div>
<br />
<br />
@Html.Action("Address","Contact")