@using TravelTripProject.Models.Entity
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            @foreach (var item in Model)
            {
                <img src="@item.PhotoUrl" alt="" height="600"/>
                <p>@item.Description</p>
            }
        </div>
    </div>
</div>

