@using TravelTripProject.Models.Entity
@model List<Blog>

<div class="box1-left">
    @foreach (var item in Model)
    {
        <div class="bot-img">
            <img src="@item.BlogImage" alt="" />
        </div>
        <div class="bot-desc">
            <p>@item.Description.Substring(0, 65)...</p>
        </div>
        <div class="clear"></div>
    }
</div>