
@{
    ViewBag.Title = "BeachResorts";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2 style="width: 55%; margin: 0 auto;">Beach Resorts</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Most Popular Restaurants</title>
    <style>
        .restaurant-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .restaurant-card-item {
            width: 300px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

            .restaurant-card-item img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .restaurant-card-item h3 {
                margin: 0;
                font-size: 18px;
                font-weight: bold;
            }

            .restaurant-card-item p {
                margin: 10px 0;
                font-size: 14px;
                line-height: 1.5;
            }
    </style>
</head>
<body>

    <div class="restaurant-card">


        <div class="restaurant-card-item">
            <img src="https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701309833.jpg" alt="">
            <h3>Bora Bora</h3>
            <p>French Polynesia</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://wallpapercave.com/wp/qbuqHsb.jpg" alt="">
            <h3>Maldives</h3>
            <p>South Asia</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://cdn.wallpapersafari.com/31/28/w7Icoj.jpg" alt="">
            <h3>Maui</h3>
            <p>Hawaii, USA</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://external-preview.redd.it/sPPAHQGLMVcXw5wiW24MrkoTpJiHpeGgZ31BpxKNGeU.jpg?auto=webp&s=fe65a065de25a60f0c16eb1e52b76c7d2dbdf597" alt="">
            <h3>Cancun</h3>
            <p>Mexico</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://wallpaperaccess.com/full/865178.jpg" alt="">
            <h3>Phuket</h3>
            <p>Thailand</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701004808.jpg" alt="">
            <h3>Bali</h3>
            <p>Indonesia</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://wallpapersmug.com/download/1920x1080/1bdf93/beach-sunset-ocean-coast.jpg" alt="">
            <h3>Seychelles</h3>
            <p>East Africa</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://wallpaperaccess.com/full/2383569.jpg" alt="">
            <h3>The Hamptons</h3>
            <p>New York, USA</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://i.pinimg.com/originals/43/88/20/438820c493dc52547d65021d418878db.jpg" alt="">
            <h3>Costa Smeralda</h3>
            <p>Sardinia, Italy</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://wallpapers.com/images/hd/1920x1080-hd-beach-bxjdqucr9dysewfq.jpg" alt="">
            <h3>Ibiza</h3>
            <p>Spain</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://cdn.wallpapersafari.com/79/19/HjnaJN.jpg" alt="">
            <h3>Copacabana Beach</h3>
            <p>Rio de Janeiro, Brazil</p>
        </div>

        <div class="restaurant-card-item">
            <img src="https://i.pinimg.com/originals/f3/a9/4d/f3a94d66a71ee3f58a2522ad94c7a9fd.jpg" alt="">
            <h3>Mykonos</h3>
            <p>Greece</p>
        </div>
    </div>
</body>
</html>