
@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2 style="width: 55%; margin: 0 auto;">Hotels</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Famous Hotels</title>
    <style>
        .hotel-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .hotel-card-item {
            width: 300px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

            .hotel-card-item img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .hotel-card-item h3 {
                margin: 0;
                font-size: 18px;
                font-weight: bold;
            }

            .hotel-card-item p {
                margin: 10px 0;
                font-size: 14px;
                line-height: 1.5;
            }
    </style>
</head>
<body>

    <div class="hotel-card">
        <div class="hotel-card-item">
            <img src="https://img3.wallspic.com/crops/6/1/7/8/88716/88716-cityscape-burj_al_arab_jumeirah-burj_al_arab-jumeirah_beach-sky-1920x1080.jpg" alt="Burj Al Arab">
            <h3>Burj Al Arab</h3>
            <p>Dubai, United Arab Emirates</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://www.greavesindia.co.uk/wp-content/uploads/2016/11/Greaves_The_Oberoi_Udaivilas.jpg" alt="">
            <h3>The Oberoi Udaivilas</h3>
            <p> Udaipur, India</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://media.cntraveller.com/photos/611bf1514e09f53b4373338d/16:9/w_2580,c_limit/exterior-the-ritz-paris-france-conde-nast-traveller-20sept16-Vincent-Leroux_.jpg" alt="Ritz Paris">
            <h3>Ritz Paris</h3>
            <p>Paris, France</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://dq5r178u4t83b.cloudfront.net/wp-content/uploads/sites/86/2020/09/08103037/reopening-post-min.jpg" alt="The Savoy">
            <h3>The Savoy</h3>
            <p>London, England</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://wallpaperaccess.com/full/6348113.jpg" alt="Marina Bay Sands">
            <h3>Marina Bay Sands</h3>
            <p>Singapore</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://free4kwallpapers.com/uploads/originals/2015/10/27/atlantis-the-palm-dubai-wallpaper.jpg" alt="Atlantis The Palm">
            <h3>Atlantis The Palm</h3>
            <p>Dubai, United Arab Emirates</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://images.travelandleisureasia.com/wp-content/uploads/sites/3/2022/12/28125153/bangkok-1.jpeg" alt="Mandarin Oriental">
            <h3>Mandarin Oriental</h3>
            <p>Bangkok, Thailand</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://media.cntraveler.com/photos/5dc074ad03b23c0008cae1c1/16:9/w_2560,c_limit/emiratespalace-abudhabi-2019-2.jpg" alt="Emirates Palace">
            <h3>Emirates Palace</h3>
            <p>Abu Dhabi, United Arab Emirates</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://www.listonegiordano.com/wp-content/uploads/2020/06/burj_khalifa_parquet_hospitality_A_1920x1080.jpg" alt="Burj Khalifa Armani Hotel">
            <h3>Burj Khalifa Armani Hotel</h3>
            <p>Dubai, United Arab Emirates</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://image.cnbcfm.com/api/v1/image/104967164-GettyImages-78849084.jpg?v=1532563695&w=1920&h=1080" alt="The Dorchester">
            <h3>The Dorchester</h3>
            <p>London, England</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://ycbholidays.com/wp-content/uploads/2019/08/ycb-holidays-fsi.jpg" alt="Four Season Istanbul">
            <h3>Four Season Bosphorus</h3>
            <p>Istanbul, Turkey</p>
        </div>

        <div class="hotel-card-item">
            <img src="https://storage.ghadiscovery.com/cdn-cgi/image/width=1920,f=auto,g=auto,fit=scale-down/img/images/5/8/6/8/488685-1-eng-GB/2de63b86e7cf-KIIST_Header-Image-For-Mobile-Display_1920x1080.jpg" alt="Çırağan Palace Kempinski">
            <h3>Çırağan Palace Kempinski</h3>
            <p>Istanbul, Turkey</p>
        </div>

    </div>
</body>
</html>


