@using TravelTripProject.Models.Entity
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>DETAILS</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td><a href="/Admin/DeleteBlog/@item.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/UpdateBlog/@item.ID" class="btn btn-warning">Update</a></td>
            <td><a href="#" class="btn btn-default">Details</a></td>
        </tr>
    }

</table>
<a href="/Admin/NewBlog/" class="btn btn-primary">New Blog</a>
